.block1 {
    height: 750px;
    background: url(../images/bg_block1.jpg);
}

.block1 .container {
    border-bottom: 1px solid #505369;
    padding-bottom: 29px;
    padding-top: 38px;
    margin-bottom: 155px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.logo {
    float: left;
}

.menu {
    float: right;
}

.menu a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    opacity: 0.75;
    margin-left: 60px;
}

.clear {
    clear: both;
}

.title1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 65px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 71px;
    margin-bottom: 46px;
}

.title1_sub {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: #ffffff;
    line-height: 33px;
}

.button_block {
    text-align: center;
    margin-top: 80px;
}

.button1 {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    background-color: #e84545;
    padding: 18px 45px;
    display: inline-block;
}


/*-------------------- Медиа запросы --- Media queries ------------------------*/

@media (max-width: 1200px) {
    .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: auto;
        margin: 0 auto;
    }
    .logo {
        display: inline-block;
        text-align: left;
        width: 25%;
        padding-left: 15px;
    }
    .menu {
        display: inline-block;
        align-items: center;
        text-align: right;
        width: 75%;
        padding-right: 15px;
    }
}

@media (max-width: 992px) {
    .block1 .container {
        margin-bottom: 98px;
    }
    .container {
        flex-flow: column nowrap;
        align-items: center;
    }
    .logo {
        width: auto;
        margin-bottom: 30px;
    }
    .menu {
        width: auto;
    }
    .title1 {
        font-size: 54px;
    }
}

@media (max-width: 768px) {
    .block1 .container {
        padding-bottom: 9px;
        margin-bottom: 40px;
    }
    .menu {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    .menu a {
        margin: 0;
        margin-bottom: 20px;
    }
    .title1 {
        font-size: 18px;
        line-height: 31px;
        margin-bottom: 20px;
    }
    .title1_sub {
        font-size: 12px;
        line-height: 24px;
    }
}